*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Digitalfont';
    src: url(./Digital.ttf);
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outer{
    height: 310px;
    width: 610px;
    border: 22px solid #27262a;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    overflow: hidden;
    padding: 15px;
}
.inner{
    width: 100%;
    height: 100%;
    border: 10px solid #27262a;
    border-radius: 35px;
    background-color: #ea152ac6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: "Digitalfont";
    color: #ff3535d4;
}
.meridiems{
    font-size: 30px;
    display: flex;
    align-items: end;
    margin-bottom: 12px;

}
.container{
    display: flex;
    /* border: 2px solid red; */
}
.standwrapper{
    width: 500px;
    height: 25px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;

}
.stand{
    height:100%;
    width: 50px;
    background-color: #27262a;
    border-radius: 0 0 5px 5px;
    
}